@{
  Layout = "_Layout";
}

<h1>Welcome to your Music Organizer!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("See all Mediums", "Index", "Mediums")</p>
<br>
<p>@Html.ActionLink("See all Albums", "Index", "Albums")</p>
<br>
<p>@Html.ActionLink("See all Artists", "Index", "Artists")</p>
